foreground = yes
output = /root/log
pid    = /etc/stunnel.pid
fips = no
renegotiation = no
sslVersion = TLSv1.2

[http]
client    = no
cert      = /etc/lighttpd.sslpem
ciphers   = !SSLv2:RSA+AES128-SHA:RSA+AES256-SHA:RSA+AES128-SHA:RSA+RC4-SHA:RSA+RC4-MD5:RSA+DES-CBC3-SHA
options   = NO_SSLv2
accept    = 443
connect   = 80
